config MTK_I2C
	tristate "MediaTek I2C adapter"
	depends on I2C
	default y
	---help---
	  This selects the MediaTek(R) Integrated Inter Circuit bus driver.
	  MediaTek(R) I2C bus adapter is the base for some other I2C client, eg: touch, sensors.
	  If you want to use MediaTek(R) I2C interface, say Y or M here.
	  If unsure, say N.


config MTK_I2C_EXTENSION
	def_bool y if (MACH_MT6735 || MACH_MT6735M || MACH_MT6753 || MACH_MT6580 || MACH_MT6755)
	help
	  Select this if your platform need MTK i2c extension.
